.header {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    gap: 2rem;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem 2rem;
  }

.logo_container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  font-family: 'Cafe24Ssurround';
}

.logo {
  position: relative;
  height: 2.5em;
  width: 2.5rem;
}

.logo img {
  position: absolute;
  width: 100%;
  height:100%
}

.search {
  position: relative;
}

.search input {
  border: 1px solid var(--background-color);
  background-color: var(--gray-light);
}

.search_icon {
  position: absolute;
  right: 0.8rem;
  top: 25%;
  height: 0.8rem;
  color: var(--gray-dark);
}

.header_right {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.heart_icon {
  height: 1.3rem;
  cursor: pointer;
  color: var(--text-color);
}

.bell_icon {
  height: 1.3rem;
  cursor: pointer;
  color: var(--text-color);
}