.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--text-color);
}

.title {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.nav_list {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  margin-right: 1rem;
}

.nav_list a {
  font-weight: 600;
  font-size: 0.7rem;
  text-align: center;
  width: 6rem;
  padding: 0.4rem;
  text-decoration: none;
  border: 1px solid var(--gray-color);
}

.active {
  background-color: var(--text-color);
  border: 1px solid var(--text-color) !important;
  color: var(--background-color);
}